{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block page_title %}GSPaid{% endblock page_title %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'semantic/dist/semantic.min.css' %}">
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="{% static 'semantic/dist/semantic.min.js' %}"></script>
</head>
<body>
    {% block messages %}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endblock messages %}

    <br>
    <div class="ui top fixed menu">

        <a href="{% url 'home' %}" class="header item">
            GSPaid
        </a>
        <a class="item" href="{% url 'misc:rules' %}">Rules</a>

        <div class="right menu">
            {% if user.is_authenticated %}
                <div class="ui simple dropdown item">
                        Hi, {{request.user.username}}!
                        <i class="dropdown icon"></i>
                    <div class="menu">
                        <a class="item" href="{% url 'auth_logout' %}">Logout</a>
                        <a class="item" href="{% url 'change_profile' %}">Profile</a>
                        <a class="item" href="{% url 'misc:dashboard' %}">Dashboard</a>
                    </div>
                  </div>
            {% else %}
                <a class="item" href="{% url 'registration_register' %}">Register</a>
                <a class="item" href="{% url 'auth_login' %}">Login</a>
            {% endif %}
        </div>
    </div>
    <div class="ui grid">
        <div class="twelve wide centered column">
            {% block content %}
            {% endblock content %}
        </div>
    </div>

</body>
</html>