{% extends 'misc/base.html' %}
{% block page_title %}Home{% endblock page_title %}
{% block content %}
    <div>
        <h1>
            GSPaid
        </h1>
        <a href="{% url 'misc:rules' %}">Rules</a>
        <a href="{% url 'registration_register' %}">Register</a>
        <a href="{% url 'auth_login' %}">Login</a>
        {% if user.is_authenticated %}
            <a href="{% url 'auth_logout' %}">Logout</a>
            <a href="{% url 'change_profile' %}">Profile</a>
            <a href="{% url 'misc:dashboard' %}">Dashboard</a>

        {% endif %}
    </div>
    <h2>About Us</h2>
    <div>
        <p>
            Our company has started with a mission of borderless fintech. We are really good and great things happen here. We are proud to say that we get any **** financial requests done!
        </p>
    </div>
    <h2>Live Currency and Converter</h2>

    <!--Currency Converter widget by FreeCurrencyRates.com -->

    <div id='gcw_mainFQads0YUL' class='gcw_mainFQads0YUL'></div>
    <a id='gcw_siteFQads0YUL' href='https://freecurrencyrates.com/en/'>FreeCurrencyRates.com</a>
    <script>function reloadFQads0YUL(){ var sc = document.getElementById('scFQads0YUL');if (sc) sc.parentNode.removeChild(sc);sc = document.createElement('script');sc.type = 'text/javascript';sc.charset = 'UTF-8';sc.async = true;sc.id='scFQads0YUL';sc.src = 'https://freecurrencyrates.com/en/widget-vertical?iso=USDEURGBPJPYCNYXUL&df=2&p=FQads0YUL&v=fits&source=fcr&width=245&width_title=0&firstrowvalue=1&thm=A6C9E2,FCFDFD,4297D7,5C9CCC,FFFFFF,C5DBEC,FCFDFD,2E6E9E,000000&title=Currency%20Converter&tzo=-270';var div = document.getElementById('gcw_mainFQads0YUL');div.parentNode.insertBefore(sc, div);} reloadFQads0YUL(); </script>
    <!-- put custom styles here: .gcw_mainFQads0YUL{}, .gcw_headerFQads0YUL{}, .gcw_ratesFQads0YUL{}, .gcw_sourceFQads0YUL{} -->
    <!--End of Currency Converter widget by FreeCurrencyRates.com -->

    <h2>Contact Us</h2>
    <form action="{% url 'home' %}" method="post">
    {% csrf_token %}
    {{ contact_admin_form }}
     <input type="submit" value="Submit">
    </form>
{% endblock content %}