{% extends 'misc/base.html' %}
{% block content %}
    <form class="ui form" method="get" action="{% url 'workflow:check_request' request.id %}">
        Request Type: {{ request.request_type.name }}
        <br>
        Request Status: {{ request.status }}
        <br>
        User Description: {{ request.user_description }}
        <br>
        User File Attachment: {{ request.attachment }}
        <br>
        User Name: {{ request.user.username }}
        <br>
        User Email: {{ request.user.email }}
        <br>
        Amount: {{ request.amount }}
    </form>

    <br>

    <form class="ui form" method="post" action="{% url 'workflow:check_request' request.id %}">
        {% csrf_token %}
        {{ form }}
        <input type="submit" class="ui primary button" value="Submit">
    </form>

    <br>
{% endblock content %}