{% extends 'misc/base.html' %}
{% block content %}
<form method="get" action="{% url 'management:management_wallet' %}">
{% for balance in balance_list %}
    <label for={{ balance.name}}>{{ balance.name }}: </label>
    <input type="number" id={{ balance.name }} readonly="readonly" value={{ balance.value }}>
{% endfor %}
</form>

<br>

<form method="post" action="{% url 'management:management_wallet' %}">
    {% csrf_token %}
    {{ charge_wallet_form }}
    <input type="submit" value="Charge">
</form>

<br>
{% endblock content %}